body {
    margin: 0px;
    background-color: #898989;
}
.cabecalho {
    display: flex;
    flex-direction: column;
    background-color: #A69151;
    text-align: center;
}

.cabecalho img {
    width: 15%;
}

.busca {
    padding-bottom: 6px;
}

.busca input {
    width: 20%;
    border-radius: 2px;
    margin: 2px;
}

.busca button {
    width: 60px;
    border-radius: 5%;
}

.principal {
    background-color: #898989;
}

.recomendacoes {
    background-color: #707326;
}